<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md logo">
                <img src="./assets/logo.png" alt="logo">
            </div>
            <div class="col">
                <h1><b>Create Your Account</b></h1>
                <h3>Lets get started with free trail for 30 days</h3>

                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label ">Name <span>*</span></label>
                        <input type="text" class="form-control input1" placeholder="Enter your Name"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div> <br>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email <span>*</span></label>
                        <input type="email" class="form-control input1" placeholder="Enter your e-mail"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div> <br>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password <span>*</span></label>
               `         <input type="password" class="form-control input1" placeholder="Enter your password"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div> <br>
                    <button type="submit" class="btn btn-dark btn1">Submit</button>
                </form>
            </div>
            <div class="statistics_page">
                <a routerLink="">
                    <div class="icon">View Statistics <i class="bi bi-eye-fill"></i> </div>
                </a>
            </div>

        </div>
        <div class="col-md-6">
            <img class="img1" src="./assets/pic.png" alt="logo">
        </div>
    </div> 